/* body */
body {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* nav */

.navbar {
  position: static;
  margin-top: 0%;
  width: auto;
  height: 20%;
  display: block;
  opacity: 70%;
  /* background: linear-gradient(rgb(168, 91, 91)); */
  background-image:url(/img/prisi_1.jpg);
  background-position: 50%;
  background-size: cover;
  background-color: transparent;
}
img.navbar-brand-i {
  border-radius: 50%;
  width: 15%;
  height: 20%;
}
/* ====================================================== */
h1,
h2 {
  text-align: center;
  color: aliceblue;
}
/* card */
.escuadras {
  position: relative;
}
.section_escuadras {
  position: absolute;
  left: 43%;
  right: 48%;
}
.card {
  margin-bottom: 50px;
  color: aliceblue;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-color: aliceblue;
}
